body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(253,253,253);
}

svg{
  height: 80px;
  float: left;
}

header{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 6.5em;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px rgb(242,242,242);
}

header h2{
  width: 50%;
  margin-top: 10px;
  float: left;
  padding-left: 10px;
}

.container{
  margin-left: 20%;
  width: 900px;
}

.container::after{
  width:83%;
  content:' ';
  display:block;
  border-bottom: 1px solid rgb(211,211,211);
}

.col-xs-3{
   padding: 5px;
}

.col-xs-6{
  padding: 5px;
}

.row-input-head{
  display: inline;
}

.col-xs-6 .form-control{
  width: 270px;
  height: 35px;
}

.btn-groups a{
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 21px;
  margin-top: 25px;
}

.btn-lg{
  width: 40.7%;
  height: 50px;
}

.result {
  padding: 2px;
  margin: auto;
  text-align: center;
  top:100px;
  border-radius: 1px;
  border: 2px solid #809fff;
  max-width: 250px;
}

.error:after{
  content:' ';
  display:block;
  border:2.5px solid red;
  border-radius: 1px;
}

.error::before{
  content:' ';
  display:block;
  border:2.5px solid red;
  border-radius: 1px;
}

.bot-wrapper{
  margin-top: 25px;
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

.bot-wrapper::before{
  content:' ';
  display:block;
  border-top: 1px solid rgb(211,211,211);
  width: 83%;
}

.para-left{
  width: 40%;
  display: inline-block;
  margin-right: 10px;
}

.para-right{
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.example-titles h5{
  display: inline-block;
  margin-left: 30px;
}

.example-titles::after{
  content:' ';
  display:block;
  border-top: 1.5px solid rgb(211,211,211);
  width: 80%;
  margin-left: 10px;
}

table{
  width: 100%;
}

thead{
  border-bottom: 2px solid rgb(211,211,211);
  width: 80%;
}

tbody tr{
  border-bottom: 1.5px solid rgb(211,211,211);
  width: 80%;
  height: 30px;
}

.table-res{
  height: 30px;
  background-color: rgb(173,216,230);
  border-bottom: 0px;
}

.last-p{
  margin-top: 10px;
}

footer{
  text-align: center;
}

footer small{
  margin-right: 4%;
  color: grey;
}

a{
  color: inherit;
  text-decoration: none !important;
}

a:hover{
  color:inherit;
}

i{
  cursor: pointer;
  margin-right: 1em;
  font-size: 4em;
  text-decoration: none;
}

.ion-social-github:hover{
  color:grey;
}

.ion-social-facebook:hover{
  color:#3B5998;
}

.ion-social-linkedin:hover{
  color:#007bb6;
}

@media screen and (max-width:960px){
  .container{
    width: 100%;
    margin: 0;
  }

  .container::after{
    width: 100%;
  }

  .col-xs-3{
     padding: 5px ;
  }

  .col-xs-6{
    padding: 5px;
}
  .col-xs-3 .form-control{
    width: 100%;
    height: 25%;
    padding: 5px;
  }

  .col-xs-6 .form-control{
    width: 100%;
    height: 25%;
    padding: 5px;
  }

  .btn-groups{
    margin-top: 2%;
  }

  .btn-groups a{
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 21px;
    padding: 3px;
    margin: 3px;
  }

  #add {
    margin-top: 25px;
  }

  .btn-lg{
    width: 99%;
    height: 15%;
  }

  .bot-wrapper::before{
    width: 100%;
  }

  .result {
    margin: auto;
    text-align: center;
    top:25px;
    border-radius: 4px;
    background-color: #99ccff;
    max-width: 40%;
  }

  .para-left{
    width: 49%;
  }

  .para-right{
    width: 45%;
  }

  table{
    width: 100%;
  }

  footer{
    margin-left: 2em;
  }

  footer small{
    margin-right: 4em;
  }


}

  @media screen and (max-width:500px) {
    .container{
      width: 100%;
      margin: 0;
    }
    .para-left{
      width: 98%;
    }

    .para-right{
      width: 98%;
    }

  }

  @media screen and (max-width:319px){
    body{
      width: 319px;
    }

    header{
      text-align: center;
    }
  }
